@model IEnumerable<DemoDevJr.Models.Inscripcion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h2>Index</h2>

<p>    
    <a href="@Url.Action("Create", "Inscripcions")" type="button" class="btn btn-primary">Agregar Nueva Inscripcion</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.alumno.nombres)*@
            Alumno
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.curso.grado)*@
            Curso
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.matricula)*@
            Matricula
        </th>
        <th>
            Fecha Inscripcion
        </th>
        <th>
            ColegioProcedencia
        </th>
        <th>
            TipoInscripcion
        </th>
        <th>
            Observacion1
        </th>
        <th>
            Observacion2
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.alumno.nombres  @item.alumno.apellidoPaterno @item.alumno.apellidoMaterno
        </td>
        <td>            
            @item.curso.grado @item.curso.paralelo @item.curso.nivel
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colegioProcedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion2)
        </td>
        <td>            
            <a href="/Inscripcions/Edit/@item.id" type="button" class="btn btn-warning btn-sm">
                <i class="fas fa-pen"></i>
            </a>
            <a href="/Inscripcions/Details/@item.id" type="button" class="btn btn-info btn-sm">
                <i class="fas fa-eye"></i>
            </a>
            <a href="/Inscripcions/Delete/@item.id" type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
