@model IEnumerable<DemoDevJr.Models.Inscripcion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Index</h2>

<p>    
    <a href="@Url.Action("Create", "Inscripcions")" type="button" class="btn btn-primary">Agregar Nueva Inscripcion</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alumno.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curso.grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colegioProcedencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alumno.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curso.grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colegioProcedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
