@model IEnumerable<DemoDevJr.Models.Alumno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<style>
    .file-upload-form, .image-preview {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 20px;
    }   

    img.previewTabla {
        width: 150px;
        background-color: white;
        border: 1px solid #DDD;
        padding: 5px;
    }
</style>


<h2>Index</h2>

<p>    
    <a href="@Url.Action("Create", "Alumnoes")" type="button" class="btn btn-primary">Agregar Nuevo Alumno</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>
            RUDE
        </th>
        <th>
            Imagen
        </th>
        <th>
            Nombres
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            ApellidoMaterno
        </th>
        <th>
            Sexo
        </th>
        <th>
            Lugar de Nacimiento
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            CI
        </th>
        <th>
            Direccion
        </th>
        <th>
            Zona
        </th>
        <th>
            Telefono
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.rude)
    </td>
    <td>
        <img src="@item.imagen" class="previewTabla" alt="item.rude" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellidoPaterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellidoMaterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sexo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lugarNacimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaNacimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ci)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono)
    </td>
    <td>
        <a href="/Alumnoes/Edit/@item.alumnoId" type="button" class="btn btn-warning btn-sm">
            <i class="fas fa-pen"></i>
        </a>
        <a href="/Alumnoes/Details/@item.alumnoId" type="button" class="btn btn-info btn-sm">
            <i class="fas fa-eye"></i>
        </a>
        <a href="/Alumnoes/Delete/@item.alumnoId" type="button" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
        </a>                  
    </td>
</tr>
}

</table>
